<mat-card class="mb-4">
    <div class="flex justify-between p-4">
        <div>
            <button mat-button [matMenuTriggerFor]="sortByMenu">
              Classificar por {{ sort }}
              <mat-icon >expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu>
                <button (click)="onSortUpdated('desc')" mat-menu-item>des</button>
                <button (click)="onSortUpdated('asc')" mat-menu-item>asc</button>
            </mat-menu>
        </div>
        <div>
            <div class="flex items-center">
                <button mat-button [matMenuTriggerFor]="menu">
                  Mostrar {{ itemsShowCount }}
                  <mat-icon >expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="onSortUpdated('desc')" mat-menu-item>12</button>
                </mat-menu>
            </div>
        </div>
    </div>
</mat-card>